<div class='footer'>
  <div class='footer-contents'>
    <div class='app-details'>
      <h2 class='footer-content-head'>JeweLinksについて</h2>
      <ul>
        <li><%= link_to '会社概要（運営会社)', "#", class: "footer-link default_link_white" %></li>
        <li><%= link_to 'プライバシーポリシー', "#", class: "footer-link default_link_white" %></li>
        <li><%= link_to 'JeweLinks利用規約', "#", class: "footer-link default_link_white" %></li>
        <li><%= link_to 'ポイントに関する特約', "#", class: "footer-link default_link_white" %></li>
      </ul>
    </div>
    <div class='app-details'>
      <h2 class='footer-content-head'>JeweLinksを見る</h2>
      <ul>
        <li><%= link_to 'カテゴリー一覧', "#", class: "footer-link default_link_white" %></li>
      </ul>
    </div>
    <div class='app-details'>
      <h2 class='footer-content-head'>JeweLinksについて</h2>
      <ul>
        <li><%= link_to 'JeweLinksガイド', "#", class: "footer-link default_link_white" %></li>
        <li><%= link_to 'JeweLinksロゴ利用ガイドライン', "#", class: "footer-link default_link_white" %></li>
        <li><%= link_to 'お知らせ', "#", class: "footer-link default_link_white" %></li>
      </ul>
    </div>
  </div>
  <p>© 2021 JeweLinks</p>
</div>